*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('../img/wallpaper-inicio2.jpg')no-repeat;
    background-position: center;
    background-size: cover;
}

.caixa-form {
    position: relative;
    width: 430px;
    height: 480px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(7px);
    display: flex;
    justify-content: center;
}

.logologin {
    margin: auto;
    margin-top: 40px;
    display: block;
    width: 300px;
    margin-bottom: 50px
}

.inputbox {
    position: relative;
    margin: 25px 0 10px;
    width: 310px;
    height: 40px;
    border-bottom: 2px solid #000000;
    border-radius: 5%;
}

.inputbox label {
    position: absolute;
    top: 70%;
    left: 2px;
    transform: translateY(-50%);
    color: #00000056;
    font-size: 15px;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label,
input:valid ~ label {
        top: 2px;
        color: rgb(0, 0, 0);
        font-size: 16px;
}

.inputbox input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    padding:0 35px 0 5px;
    color: #000000;
}

#ico-user, #ico-email, #ico-lock {
    position: absolute;
    right: 10px;
    color: #000000;
    font-size: 14px;
}

#ico-user {
    top: 23px;
}

#ico-email {
    top: 26px;
}

#ico-lock {
    top: 24px;
}

.cadastrar {
    margin-top: 40px;
    color: rgb(255, 235, 235);
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: rgba(0, 0, 0, 0.8);
    border-color: #ffffff00;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    transition: 0.6s all ease;
}

.cadastrar:hover {
    color: rgb(255, 235, 235);
    background-color: rgb(0, 17, 170);
    border-color: rgba(255, 0, 0, 0);
}

.voltar {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    color: rgba(0, 0, 0, 0.6);
    background: rgba(200, 0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0.6);
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    transition: 0.6s all ease;
}

.voltar:hover {
    color: rgba(0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgba(0, 0, 0);
}

@media (max-width: 480px) {

    .caixa-form {
        width: 300px;
        height: 350px;
    }

    .logologin {
        margin-top: 25px;
        width: 240px;
        margin-bottom: 25px;
    }
    
    .inputbox {
        margin: 14px 0 10px;
        width: 240px;
        height: 40px;
    }
    
    .inputbox label {
        top: 70%;
        left: 2px;
        transform: translateY(-50%);
        font-size: 12px;
    }

    input:focus ~ label,
    input:valid ~ label {
        top: 5px;
        font-size: 12px;
    }

    .inputbox input {
        width: 100%;
        height: 50px;
        font-size: 14px;
        padding:0 35px 0 5px;
    }

    #ico-user, #ico-email, #ico-lock {
        right: 5px;
        font-size: 11px;
    }

    #ico-user {
        top: 28px;
    }
    
    #ico-email {
        top: 29px;
    }
    
    #ico-lock {
        top: 27px;
    }

    .cadastrar {
        margin-top: 20px;
        height: 30px;
        font-size: 14px;
    }

    .voltar {
        margin-top: 5px;
        height: 30px;
        font-size: 14px;
    }

}